@tailwind base;
@tailwind components;
@tailwind utilities;

.image {
  position: relative;
  background-image: url('../public/img.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  alt: "";
  /* color: white; */
  /* opacity: 0.8; */
}
/*background-image: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg');*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.b{
  bottom: 0% !important;
  position: fixed;
  width: 97%;
  margin:0px 19px !important;
}

@media (max-width: 378px) {
  .b{
    width: 90%;
    margin:0px 19px !important;
  }
}
